.video-slider {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--content-padding);
}

.block-content-01-h2 .title--h2 {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--content-padding);
}
