.video-slider {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--content-padding);
}

.landing-main > .block-content-01-h2 > .title--h2 {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--content-padding);
}

.landing-layout-flex.without-left .landing-main .title--h2 {
  padding: 0;
}

.landing-header + .landing-main .block-wrapper:not(.block-tours-01-tours),
.landing-header + .landing-main .block-wrapper:not(.block-index-01-ticker),
.landing-header + .landing-main .block-wrapper:not(.block-tours-02-filter) {
  &:first-child {
    margin-top: 5rem;
  }
}


.without-left .landing-main .block-wrapper {
  &:first-child {
    margin-top: 0;
  }
}


.block-wrapper.gallery-section {
  margin-top: 5rem;
}




