-
    var randomArr3 = [1,2,3]
    var randomArr5 = [1,2,3,4,5]
    var randomArr10 = [1,2,3,4,5,6,7,8,9,10]
    var randomArr20 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

    var iconsList = [
    'mti-hotel',
    'mti-check',
    'mti-air',
    'mti-people-gp',
    'mti-bus',
    'mti-geo',
    'mti-food',
    'mti-go',
    'mti-arrow-left',
    'mti-arrow-right',
    'mti-caret-up',
    'mti-caret-down',
    'mti-caret-right',
    'mti-caret-slip',
    'mti-close',
    'mti-devider-round',
    'mti-devider',
    'mti-mail',
    'mti-men',
    'mti-woman',
    'mti-play',
    'mti-quote',
    'mti-document',
    'mti-people',
    'mti-tied-hands',
    'mti-acropolis',
    'mti-mosque',
    'mti-bottle',
    'mti-card',
    'mti-services',
    'mti-shield',
    'mti-coun-bl-gb',
    'mti-coun-ru-gb',
    'mti-coun-bl',
    'mti-coun-ru',
    'mti-phone',
    'mti-soc-fb',
    'mti-soc-in',
    'mti-soc-vk',
    'mti-soc-wh',
    'mti-soc-you',
    'mti-star',
    'mti-star-line']

    var lnHome = 'main.html';
    var lnNews = 'news.html';
    var lnTour = 'tour.html';
    var lnSchedule = 'travel-schedule.html';
    var lnAbout = 'about.html';
    var lnConacts = 'contacts.html';
    var lnReviews = 'reviews.html';
    var lnPilgrim = 'pilgrim.html';
    var lnGallery = 'gallery.html';
    var lnGalleryDetail= 'gallery-detail.html';

    var subMenuList = [
    { link:lnSchedule , name: 'Расписание поездок'},
    { link:'' , name: 'Документы'},
    { link:'' , name: 'Что такое Умра'},
    { link:'' , name: 'Порядок совершения'},
    { link:lnPilgrim , name: 'Паломнику'},
    { link:lnGalleryDetail , name: 'Фотоотчет'},
    { link:lnReviews , name: 'Отзывы'}
    ]
    var subSecondMenuList = [
    { link:lnHome , name: 'Общая информация'},
    { link:lnPilgrim , name: 'Паломнику'},
    { link:lnGallery , name: 'Фотогалерея'},
    { link:lnNews , name: 'Новости'}
    ]

    headerClassModifer= null;

    var sliderNewsList= [
    {img:'img/slide-news/slide-1.jpg', data:'22 янв 2109', title:'Умра 2019 на новогодних каникулах!', text:'Уважаемые друзья, мы сдержали своё обещание, с нами Мекка стала ещё ближе!'},
    {img:'img/slide-news/slide-2.png', data:'22 янв 2109', title:'Умра 2019 на новогодних каникулах!', text:'Уважаемые друзья, мы сдержали своё обещание, с нами Мекка стала ещё ближе!'},
    {img:'img/slide-news/slide-1.jpg', data:'22 янв 2109', title:'Умра 2019 на новогодних каникулах!', text:'Уважаемые друзья, мы сдержали своё обещание, с нами Мекка стала ещё ближе!'},
    {img:'img/slide-news/slide-2.png', data:'22 янв 2109', title:'Умра 2019 на новогодних каникулах!', text:'Уважаемые друзья, мы сдержали своё обещание, с нами Мекка стала ещё ближе!'},
    {img:'img/slide-news/slide-1.jpg', data:'22 янв 2109', title:'Умра 2019 на новогодних каникулах!', text:'Уважаемые друзья, мы сдержали своё обещание, с нами Мекка стала ещё ближе!'},
    {img:'img/slide-news/slide-2.png', data:'22 янв 2109', title:'Умра 2019 на новогодних каникулах!', text:'Уважаемые друзья, мы сдержали своё обещание, с нами Мекка стала ещё ближе!'},
    {img:'img/slide-news/slide-1.jpg', data:'22 янв 2109', title:'Умра 2019 на новогодних каникулах!', text:'Уважаемые друзья, мы сдержали своё обещание, с нами Мекка стала ещё ближе!'},
    {img:'img/slide-news/slide-2.png', data:'22 янв 2109', title:'Умра 2019 на новогодних каникулах!', text:'Уважаемые друзья, мы сдержали своё обещание, с нами Мекка стала ещё ближе!'}
    ]

    var sliderLettersList=[
    {img:"/img/slide-letters/slide-letters-1.jpg",img2x:'/img/slide-letters/slide-letters-1@2x.jpg'},
    {img:"/img/slide-letters/slide-letters-2.jpg",img2x:'/img/slide-letters/slide-letters-2@2x.jpg'},
    {img:"/img/slide-letters/slide-letters-3.jpg",img2x:'/img/slide-letters/slide-letters-3@2x.jpg'},
    {img:"/img/slide-letters/slide-letters-4.jpg",img2x:'/img/slide-letters/slide-letters-4@2x.jpg'},
    {img:"/img/slide-letters/slide-letters-5.jpg",img2x:'/img/slide-letters/slide-letters-5@2x.jpg'}
    ]



    var reviewsList = [
    { img:'img/ava-2.png' , name: 'Эльвина Гайнутдинова', text: '1 Отзыв. Ассаламу алайкум ва рахматуллохи ва баракатух. Не хотел остаться в стороне и не поблагодарить компанию Умма тур .'},
    { img:'img/ava-1.png' , name: 'Ангелина Распопова', text: '2 Отзыв. Ассаламу алайкум ва рахматуллохи ва баракатух. Не хотел остаться в стороне и не поблагодарить компанию Умма тур . Я в этом году совершил хадж и остался очень очень довольным хазратами Мурсал хазрат Шамиль хазрат Ибрагим хазрат особенно Салим хазрату он был нашем руководителям , и вообще всем хазратом их всех поимённо не помню если вы еще выбираете с какой фирмы поехать выбирайте УММА ТУР не пожалеете они каждому человеку относятся особенно как вы их родственник или близкий друг. Не думаете что это реклама или их агент я ради Аллаха хочу дать вам совет. Жазакаллоху хайран.'},
    { img:'img/ava-3.png' , name: 'Эльвина Гайнутдинова', text: '3 Отзыв. Ассаламу алайкум ва рахматуллохи ва баракатух. Не хотел остаться в стороне и не поблагодарить компанию Умма тур .'},
    { img:'img/ava-1.png' , name: 'Ангелина Распопова', text: '4 Отзыв. Ассаламу алайкум ва рахматуллохи ва баракатух. Не хотел остаться в стороне и не поблагодарить компанию Умма тур . Я в этом году совершил хадж и остался очень очень довольным хазратами Мурсал хазрат Шамиль хазрат Ибрагим хазрат особенно Салим хазрату он был нашем руководителям , и вообще всем хазратом их всех поимённо не помню если вы еще выбираете с какой фирмы поехать выбирайте УММА ТУР не пожалеете они каждому человеку относятся особенно как вы их родственник или близкий друг. Не думаете что это реклама или их агент я ради Аллаха хочу дать вам совет. Жазакаллоху хайран.'},
    { img:'img/ava-1.png' , name: 'Ангелина Распопова', text: '5 Отзыв. Ассаламу алайкум ва рахматуллохи ва баракатух. Не хотел остаться в стороне и не поблагодарить компанию Умма тур . Я в этом году совершил хадж и остался очень очень довольным хазратами Мурсал хазрат Шамиль хазрат Ибрагим хазрат особенно Салим хазрату он был нашем руководителям , и вообще всем хазратом их всех поимённо не помню если вы еще выбираете с какой фирмы поехать выбирайте УММА ТУР не пожалеете они каждому человеку относятся особенно как вы их родственник или близкий друг. Не думаете что это реклама или их агент я ради Аллаха хочу дать вам совет. Жазакаллоху хайран.'},
    { img:'img/ava-1.png' , name: 'Ангелина Распопова', text: '6 Отзыв. Ассаламу алайкум ва рахматуллохи ва баракатух. Не хотел остаться в стороне и не поблагодарить компанию Умма тур . Я в этом году совершил хадж и остался очень очень довольным хазратами Мурсал хазрат Шамиль хазрат Ибрагим хазрат особенно Салим хазрату он был нашем руководителям , и вообще всем хазратом их всех поимённо не помню если вы еще выбираете с какой фирмы поехать выбирайте УММА ТУР не пожалеете они каждому человеку относятся особенно как вы их родственник или близкий друг. Не думаете что это реклама или их агент я ради Аллаха хочу дать вам совет. Жазакаллоху хайран.'},
    { img:'img/ava-1.png' , name: 'Ангелина Распопова', text: '7 Отзыв. Ассаламу алайкум ва рахматуллохи ва баракатух. Не хотел остаться в стороне и не поблагодарить компанию Умма тур . Я в этом году совершил хадж и остался очень очень довольным хазратами Мурсал хазрат Шамиль хазрат Ибрагим хазрат особенно Салим хазрату он был нашем руководителям , и вообще всем хазратом их всех поимённо не помню если вы еще выбираете с какой фирмы поехать выбирайте УММА ТУР не пожалеете они каждому человеку относятся особенно как вы их родственник или близкий друг. Не думаете что это реклама или их агент я ради Аллаха хочу дать вам совет. Жазакаллоху хайран.'},
    { img:'img/ava-3.png' , name: 'Эльвина Гайнутдинова', text: '8 Отзыв. Ассаламу алайкум ва рахматуллохи ва баракатух. Не хотел остаться в стороне и не поблагодарить компанию Умма тур . Я в этом году совершил хадж и остался очень очень довольным хазратами Мурсал хазрат Шамиль хазрат Ибрагим хазрат особенно Салим хазрату он был нашем руководителям.'},
    { img:'img/ava-3.png' , name: 'Эльвина Гайнутдинова', text: '9 Отзыв. Ассаламу алайкум ва рахматуллохи ва баракатух. Не хотел остаться в стороне и не поблагодарить компанию Умма тур .'},
    { img:'img/ava-1.png' , name: 'Хасанов Парвиз', text: '10 Отзыв. Здравствуйте!Я осуществил главную духовную цель в жизни стал гостем Аллаха, посетил запретную мечеть и совершил обходы вокруг Каабы. Там я обрел духовную чистоту и ясность разума. На протяжении всего путешествия нас сопровождали внимательные и опытные руководители. Размещение было в отеле.Сервис обслуживания меня просто поразил. Такую поездку действительно должен совершить каждый верующий в своей жизни, а эта турфирма осуществила путешествие на высшем уровне.Очень хорошая организация, качественная работа компанией Умма тур. Эти великолепные чувства невозможно передать, все время меня окружал восторг и впечатления. Я очень благодарен этим людям, мне они были как родные, я никогда не понимал, что могут быть такие замечательные люди. Хочу выразить им большую благодарность, и еще вернуться в те места. С огромной благодарностью и уважением,Хасанов Парвиз Тоджидинович (Ходжи)'},
    { img:'img/ava-2.png' , name: '', text: '11 Отзыв. Ассаламу алайкум ва рахматуллохи ва баракатух. Не хотел остаться в стороне и не поблагодарить компанию Умма тур . Я в этом году совершил хадж и остался очень очень довольным хазратами Мурсал хазрат Шамиль хазрат Ибрагим хазрат особенно Салим хазрату он был нашем руководителям , и вообще всем хазратом их всех поимённо не помню если вы еще выбираете с какой фирмы поехать выбирайте УММА ТУР не пожалеете они каждому человеку относятся особенно как вы их родственник или близкий друг. Не думаете что это реклама или их агент я ради Аллаха хочу дать вам совет. Жазакаллоху хайран.'},
    { img:'img/ava-3.png' , name: 'Эльвина Гайнутдинова', text: '12 Отзыв. Ассаламу алайкум ва рахматуллохи ва баракатух. Не хотел остаться в стороне и не поблагодарить компанию Умма тур . Я в этом году совершил хадж и остался очень очень довольным хазратами Мурсал хазрат Шамиль хазрат Ибрагим хазрат особенно Салим хазрату он был нашем руководителям.'},
    { img:'img/ava-1.png' , name: 'Danil G.', text: '13 Отзыв. Здравствуйте, хотел бы написать свой отзыв о поездке в Хадж. Очень хорошая организация, качественная работа компанией Умма тур. Эти великолепные чувства невозможно передать, все время меня окружал восторг и впечатления. Я очень благодарен этим людям, мне они были как родные, я никогда не понимал, что могут быть такие замечательные люди. Хочу выразить им большую благодарность, и еще вернуться в те места.'},
    { img:'img/ava-2.png' , name: 'Эльвина Гайнутдинова', text: '14 Отзыв. Ассаламу алайкум ва рахматуллохи ва баракатух. Не хотел остаться в стороне и не поблагодарить компанию Умма тур . Я в этом году совершил хадж и остался очень очень довольным хазратами Мурсал хазрат Шамиль хазрат Ибрагим хазрат особенно Салим хазрату он был нашем руководителям , и вообще всем хазратом их всех поимённо не помню если вы еще выбираете с какой фирмы поехать выбирайте УММА ТУР не пожалеете они каждому человеку относятся особенно как вы их родственник или близкий друг. Не думаете что это реклама или их агент я ради Аллаха хочу дать вам совет. Жазакаллоху хайран.'}
    ]

    var listInCost= [
    {title: 'Гид', text: 'Сопровождение паломников опытными гидами со знанием обрядов паломничества.'},
    {title: 'Гостиница в Медине', text: 'На расстоянии от мечети Аль-Харам не более 300 м или 4 минуты пешком'},
    {title: 'Трансфер', text: 'Полный трансфер'},
    {title: 'Гостиница в Мекке', text: 'На расстоянии от мечети Аль-Харам не более 300 м или 4 минуты пешком'},
    {title: 'Виза', text: 'Виза категории "Умра" выдается на 29 дней Нарушение визового режима влечет за собой депортацию сроком на 5 лет и штраф 100000 саудовских реалов'},
    {title: 'Зияраты Медины', text: 'Посещение исторически значимых мест Медины'},
    {title: 'Зам Зам', text: '5 литров'}
    ]

    galleryCardsList = [
    { img: "/img/gall-1.jpg" , name: "Фотографий в альбоме", counter: "16"},
    { img: "/img/gall-2.jpg" , name: "Фотографий в альбоме", counter: "5"},
    { img: "/img/gall-3.jpg" , name: "Фотографий в альбоме", counter: "20"},
    { img: "/img/gall-4.jpg" , name: "Фотографий в альбоме", counter: "56"}
    ]

    articlesCardsList = [
    {title: 'После прибытия в Саудовскую Аравию', text:'Большинство людей совершает хадж один раз в жизни, что подчеркивает важность предварительной и тщательной подготовки к этому событию.', bg:''},
    {title: 'В дни Хаджа', text:'Большинство людей совершает хадж один раз в жизни, что подчеркивает важность предварительной и тщательной подготовки к этому событию.', bg:''},
    {title: 'Что делать и не делать в Хадже', text:'Большинство людей совершает хадж один раз в жизни, что подчеркивает важность предварительной и тщательной подготовки к этому событию.', bg:'/img/articles-slide.jpg'}
    ]
