footer.footer
    .footer__content
        .footer__about
            a.footer__logo(href="index.html")
                svg.icn-white
                    use(xlink:href='#icn-logo')

            nav.footer__menu
                a.footer__link Хадж
                a.footer__link Умра
                a.footer__link О нас
                a.footer__link Контакты

        .footer__contacts
            a.footer__link(href='mailto:info@muslimgroup.ru') info@muslimgroup.ru
            a.footer__link(href='tel:88005555555') 8 800 555-55-55

            div.footer__contacts-soc
                a.footer__link(href='facebook.com')
                    i.mti-soc-fb
                a.footer__link(href='instagram.com')
                    i.mti-soc-in

        .footer__info
            div
                .footer__info-item
                    span.footer__info-lab 16:23
                    span.footer__info-name Казань
                        span −13 °

                .footer__info-item.footer__info-item--mrg20
                    span.footer__info-lab  17:32
                    span.footer__info-name Мекка
                        span +32 °

            .footer__info-item.footer__info-item--mrg26
                span.footer__info-name ЦБ 1 USD = 65,59 ₽
                span.footer__info-lab Все цены на сайте представлены в соответствии с курсом ЦБ на 16:23

        .footer__offer Вся информация на сайте носит справочный характер и не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации. Уточняйте информацию у наших менеджеров.

        .footer__bottom
            span.footer__bottom-text Муслим Груп 2019
            a.footer__link.footer__link--under(href="") Пользовательское соглашение

            a.footer__link--studio(href="") Создание сайта
