.about-us
    header.about-us__top
        .about-us__title О нас
        .about-us__title-sub Мы сделаем все, чтобы вы оставили мирские проблемы и сосредоточелись на поклонении.

    atricle.about-us__list
        .about-us__item
            i.mti-services
            span.about-us__capt Вариативность
            span.about-us__text Есть много тарифов подходящих всем
        .about-us__item
            i.mti-shield
            span.about-us__capt Надежность
            span.about-us__text Есть много тарифов подходящих всем
        .about-us__item
            i.mti-tied-hands
            span.about-us__capt Открытость
            span.about-us__text Мы сразу описываем все услуги  и не навяжем вам дополнительную фигню
        .about-us__item
            i.mti-document
            span.about-us__capt Аккридитация
            span.about-us__text Первая официально аккредитованная организация в РФ
        .about-us__item
            i.mti-tied-hands
            span.about-us__capt Открытость
            span.about-us__text Мы работаем уже 20 лет и за это время отправили в Мекку более  60 тыс. человек
        .about-us__item
            i.mti-document
            span.about-us__capt Аккридитация
            span.about-us__text Первая официально аккредитованная организация в РФ

    .about-us__bootom
        button.button.button--caret О компании
