.home-offer
    .home-offer__content
        .home-offer__capt Паломничество в Мекку

        .home-offer__bottom
            a.home-offer__link(href='mailto:info@muslimgroup.ru') info@muslimgroup.ru
            a.home-offer__link(href='tel:88005555555') 8 800 555-55-55

            .home-offer__dropdow
                include _select-event

            .home-offer__menu
                include _menu-line
