.main-menu
    .main-menu__content
        a.main-menu__link(href="") Расписание поездок
        a.main-menu__link(href="") Документы
        a.main-menu__link(href="") Что такое Хадж
        a.main-menu__link(href="") Порядок совершения
        a.main-menu__link(href="") Паломнику
        a.main-menu__link(href="") Фотоотчет
        a.main-menu__link(href="") Отзывы
    button.main-menu__back(type="button")
