nav.mobile-menu
    .mobile-menu__content
        .mobile-menu__top
            a.header__logo(href="index.html")
                svg
                    use(xlink:href='#icn-logo')

            button.mobile-menu__button.header__button

        .mobile-menu__list
            .mobile-menu__item.mobile-menu__item--sub.mobile-menu__item--sub-open Хадж
                ul
                    li
                        a(href='#') Расписание поездок
                    li
                        a(href='#') Документы
                    li
                        a(href='#') Что такое Хадж
                    li
                        a(href='#') Порядок совершения
                    li
                        a(href='#') Паломнику
                    li
                        a(href='#') Фотоотчет
                    li
                        a(href='#') Отзывы

            .mobile-menu__item.mobile-menu__item--sub Умра
                ul
                    li
                        a(href='#') Расписание поездок
                    li
                        a(href='#') Документы
                    li
                        a(href='#') Что такое Хадж
                    li
                        a(href='#') Порядок совершения
                    li
                        a(href='#') Паломнику
                    li
                        a(href='#') Фотоотчет
                    li
                        a(href='#') Отзывы

            a.mobile-menu__item(href=lnAbout) О нас
            a.mobile-menu__item(href=lnConacts) Контакты

        .mobile-menu__bottom
            a(href="mailto:info@muslimgroup.ru") info@muslimgroup.ru
            a(href="tel:88005555555") 8 800 555-55-55

