.our-task
    h3.our-task__capt Зачем мы это делаем

    h2.our-task__title Только поклонение

    p.our-task__text Наши руководители, организаторы и врачи приложат все усилия, чтобы паломники, оставли свои мирские проблемы нам и сосредоточились на поклонении.
    p.our-task__text  Решим вопросы, связанные с транспортом, оформлением, документов, медицинским обслуживанием и сопровождением.
