.pagination
    button.button--prev(type="type")
    button.button--next(type="type")

    a.pagination__item(href='') 1
    a.pagination__item(href='') 2
    a.pagination__item.pagination__item--is-active(href='') 3
    a.pagination__item(href='') 4
    a.pagination__item(href='') 5
