mixin rating-stars(starActive, modClass)
    .rating-stars(class=modClass data-select=starActive)
        .rating-stars__star(title='Не очень', data-value='1')
        .rating-stars__star(title='Сносно', data-value='2')
        .rating-stars__star(title='Хорошо', data-value='3')
        .rating-stars__star(title='Очень хорошо', data-value='4')
        .rating-stars__star(title='Супер', data-value='5')
