article.reviews-card
    header.reviews-card__top
        .reviews-card__avatar
            img(src=reviewsCardImg)

        .reviews-card__info
            .reviews-card__name=reviewsCardName
            .reviews-card__data 13 марта 2019

        .reviews-card__soc
            a(href="facebook.com")
                i.mti-soc-fb-sec

    section.reviews-card__content=reviewsCardText
