.select-event
    .select-event__select
        ul.select-event__menu
            li.select-event__menu-item в октябре
            li.select-event__menu-item в ноябре
            li.select-event__menu-item в декабре
            li.select-event__menu-item в январе
            li.select-event__menu-item в феврале
            li.select-event__menu-item в марте
            li.select-event__menu-item в апреле
            li.select-event__menu-item в мае
            li.select-event__menu-item в июне

        span.select-event__mark Хадж
        
        a.select-event__link
            mark.select-event__month в феврале
            i.mti-caret-slip

    button.button.button--caret.select-event__button(type='button') Показать
