mixin thanks-done(modifer)
    .thanks-done(class=modifer)
        .thanks-done__caption Спасибо за обращение!
        .thanks-done__description Оставьте заявку и мы вам перезвоним в течении 15 минут.
