.tour-route
    section.tour-route__main
        article.tour-route__item
            .tour-route__type Вылет

            .tour-route__date 11 февраля

            .tour-route__steps
                .tour-route__step
                    span.tour-route__step-capt Казань

                    span.tour-route__step-way
                        figure
                        i.mti-air-line(data-toggle="tooltip" title="Умра, или малый хадж — означает паломничество в Мекку в установленном порядке.")

                .tour-route__step
                    span.tour-route__step-capt Москва

                    span.tour-route__step-way
                        figure
                        i.mti-air-line(data-toggle="tooltip" title="Умра, или малый хадж — означает паломничество в Мекку в установленном порядке.")

                .tour-route__step
                    span.tour-route__step-capt Дубай

                    span.tour-route__step-way
                        figure
                        i.mti-air-line(data-toggle="tooltip" title="Умра, или малый хадж — означает паломничество в Мекку в установленном порядке.")

                .tour-route__step
                    span.tour-route__step-capt Медина

                    span.tour-route__step-way
                        figure
                        i.mti-air-line(data-toggle="tooltip" title="Умра, или малый хадж — означает паломничество в Мекку в установленном порядке.")

                .tour-route__step
                    span.tour-route__step-capt Мекка

                    span.tour-route__step-way
                        figure
                        i.mti-bus(data-toggle="tooltip" title="Умра, или малый хадж — означает паломничество в Мекку в установленном порядке.")

                .tour-route__step
                    span.tour-route__step-capt Джидда

                    span.tour-route__step-way
                        figure
                        i.mti-air-line(data-toggle="tooltip" title="Умра, или малый хадж — означает паломничество в Мекку в установленном порядке.")

        article.tour-route__item
            .tour-route__type Обратно

            .tour-route__date 11 февраля

            .tour-route__steps
                .tour-route__step
                    span.tour-route__step-capt Джидда

                    span.tour-route__step-way
                        figure
                        i.mti-bus(data-toggle="tooltip" title="Умра, или малый хадж — означает паломничество в Мекку в установленном порядке.")

                .tour-route__step
                    span.tour-route__step-capt Дубай

                    span.tour-route__step-way
                        figure
                        i.mti-air-line(data-toggle="tooltip" title="Умра, или малый хадж — означает паломничество в Мекку в установленном порядке.")

                .tour-route__step
                    span.tour-route__step-capt Москва

                    span.tour-route__step-way
                        figure
                        i.mti-air-line(data-toggle="tooltip" title="Умра, или малый хадж — означает паломничество в Мекку в установленном порядке.")

                .tour-route__step
                    span.tour-route__step-capt Казань

                    span.tour-route__step-way
                        figure
                        i.mti-air-line(data-toggle="tooltip" title="Умра, или малый хадж — означает паломничество в Мекку в установленном порядке.")

    aside.tour-route__total
        header.tour-route__total-head Информация
        article.tour-route__total-main Продолжительность поездки — 14 дней
