.tour-calendar
    ul.tour-calendar__list
        li.tour-calendar__item--capt
            span Зима

        li.tour-calendar__item
            a(href="#").tour-calendar__link В январе
        li.tour-calendar__item
            a(href="#").tour-calendar__link.tour-calendar__link--is-active В февраля
        li.tour-calendar__item
            a(href="#").tour-calendar__link

    ul.tour-calendar__list
        li.tour-calendar__item--capt
            span Весна
            mark.tour-calendar__sticker -40

        li.tour-calendar__item
            a(href="#").tour-calendar__link В марте
        li.tour-calendar__item
            a(href="#").tour-calendar__link В апреле
        li.tour-calendar__item
            a(href="#").tour-calendar__link В мае

    ul.tour-calendar__list
        li.tour-calendar__item--capt
            span Лето

        li.tour-calendar__item
            a(href="#").tour-calendar__link Июне
            mark.tour-calendar__sticker -40
        li.tour-calendar__item
            a(href="#").tour-calendar__link Июне
        li.tour-calendar__item
            a(href="#").tour-calendar__link В авгусе

    ul.tour-calendar__list.tour-calendar__list--disabled
        li.tour-calendar__item--capt
            span Осень
            mark.tour-calendar__sticker Скоро

        li.tour-calendar__item
            a(href="#").tour-calendar__link В сентабре
        li.tour-calendar__item
            a(href="#").tour-calendar__link В октяре
        li.tour-calendar__item
            a(href="#").tour-calendar__link В ноябре

    ul.tour-calendar__list.tour-calendar__list--spec
        li.tour-calendar__item--capt
            span Особые туры

        li.tour-calendar__item
            a(href="#").tour-calendar__link Первые 10 дней месяца Рамадан
        li.tour-calendar__item
            a(href="#").tour-calendar__link Последние 10 дней месяца Рамадан
            mark.tour-calendar__sticker.tour-calendar__sticker--red Осталось мало
        li.tour-calendar__item
            a(href="#").tour-calendar__link Весь месяц Рамадан
        li.tour-calendar__item
            a(href="#").tour-calendar__link Итикаф
