.we-are.we-are--doing
    .we-are__content
        img.we-are__right-image(src="img/we-are-img-doing.jpg" srcset="img/we-are-img-doing@2x.jpg")

        .we-are__info
            .we-are__name Что мы делаем

            .we-are__title.we-are__title--max80 Помагаем правильно совершить Хадж или Умру и благополучно вернуться домой

            .we-are__text Знаем как правильно совершить Хадж или Умру. Как к ним подготовиться, что можно и нельзя делать в Саудовской Аравии. Поможем вам с любыми трудностями.

            .we-are__bootom
                button.button.button--caret Советы паломнику
