.we-are
    .we-are__content
        .we-are__info
            .we-are__name Кто мы
            .we-are__title Группа компаний «Наджм Тур» и «Муслим Травел» созданы непосредственно для организации Хаджа и Умры.

            .we-are__text Представляем Совет муфтиев России. 20 лет занимаемся отправкой российских паломников к мусульманским святыням. Мы отправили в большой и малый хадж более 60 000 человек.

            .we-are__certificate
                img(src="img/we-are-certificate.jpg" srcset="img/we-are-certificate@2x.jpg")
                span Компания «Муслим Тур» входит в Единый федеральный реестр туроператоров о чем свидетельствует лицензия

        img.we-are__right-image(src="img/we-are-img.jpg")
