extends  includes/@layout

prepend head
    -  pageTitle = 'Паломнику'

block content
    main.layout
        section.layout__section
            + page-header('Паломнику','page-header--pilgrim page-header--is-fade',subSecondMenuList,1)

        section.layout__section
            .layout__wrapper
                .layout__content
                    article.layout__main
                        h2.title--h2 Духовная, физическая и финансовая подготовка к хаджу

                        p.text--capt.text--pdd32
                            | Хадж — это акт поклонения, благословенное путешествие — дорога к Дому Аллаха, основанные на искренней вере в Его существование и единстве (таухид), на повиновении Его законам. Нет большей награды, чем награда за тот хадж, который будет принят Аллахом, Свят Он и Велик, и это награда — Сады Рая.
                        p.text--capt.text--pdd32
                            | Большинство людей совершает хадж один раз в жизни, что подчеркивает важность предварительной и тщательной подготовки к этому событию. Это подразумевает не только денежные накопления, затраты времени и усилий, но главное духовную зрелость.

                        .video
                            iframe(width="100%" src="https://www.youtube.com/embed/TZhw5PMu690" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

                        h3.title--h2 Заголовок второго уровня

                        p.text--sec.text--pdd32
                            | Физическое здоровье и способность к длительному путешествию также является необходимыми условиями хаджа. Некоторые обряды хаджа требуют силы и выносливости, тем более в условиях жаркого климата и постоянного скопления тысяч людей, совершающих одновременно одно и то же действие в ограниченном пространстве. Поэтому, чтобы быть в хорошей форме и подготовить свое тело к физическим нагрузкам, начните тренировки пешими прогулками или легким бегом продолжительностью 20-30 минут в день в течение трех-четырех месяцев до поездки. Во время тренироваки заучивайте тальбию и дуа тауфа. Это будет полезным для вашего ума, души и тела. Сосредоточение на смысле молитв поможет вам духовно настроиться на предстоящее паломничество.

                        h3.title--h3 Заголовок третьего уровня. Нумерованный и маркерованный списки

                        ul.list
                            li намерение должно быть искренним только ради поклонения Всевышнему Аллаху. Другие причины, как-то торговля, туризм, не должны быть основным
                            li поводом совершения хаджа.
                            li все материальные затраты на хадж должны производится из денег, полученных разрешенным способом. Деньги заработанные незаконным или
                            li сомнительным способом не могут быть использованы на хадж.
                            li все долги и финансовые обязательства должны быть полностью погашены до отправления.
                            li вы должны искренне попытаться уладить все споры и конфликты с другими людьми и попросить прощения у тех, кого обидели в прошлом.

                        ol.list
                            li намерение должно быть искренним только ради поклонения Всевышнему Аллаху. Другие причины, как-то торговля, туризм, не должны быть основным
                            li поводом совершения хаджа.
                            li все материальные затраты на хадж должны производится из денег, полученных разрешенным способом. Деньги заработанные незаконным или
                            li сомнительным способом не могут быть использованы на хадж.
                            li все долги и финансовые обязательства должны быть полностью погашены до отправления.
                            li вы должны искренне попытаться уладить все споры и конфликты с другими людьми и попросить прощения у тех, кого обидели в прошлом.

                        blockquote.quote Какая-то важная мысль. Это также поможет вам быть самостоятельным и не ждать подсказок других. Ваши мольбы будут осознанными и исходить из глубины души. Вы также сможете помочь своим друзьям советом и знаниями.

                        blockquote.quote.quote--parg Какая-то важная мысль. Это также поможет вам быть самостоятельным и не ждать подсказок других. Ваши мольбы будут осознанными и исходить из глубины души. Вы также сможете помочь своим друзьям советом и знаниями.

                        blockquote.quote.quote--line Какая-то важная мысль. Это также поможет вам быть самостоятельным и не ждать подсказок других. Ваши мольбы будут осознанными и исходить из глубины души. Вы также сможете помочь своим друзьям советом и знаниями.

                        .hint Какая-то важная мысль. Это также поможет вам быть самостоятельным и не ждать подсказок других. Ваши мольбы будут осознанными и исходить из глубины души. Вы также сможете помочь своим друзьям советом и знаниями.

                        .hint.hint--gray Какая-то важная мысль. Это также поможет вам быть самостоятельным и не ждать подсказок других. Ваши мольбы будут осознанными и исходить из глубины души. Вы также сможете помочь своим друзьям советом и знаниями.

                        include includes/components/_video-slider

                        include includes/components/_side-slider

                        h3.title--h3 Заголовок третьего уровня. Пример таблицы

                        include includes/components/tables/_table

                    include includes/components/asides/_aside-links

        section.layout__section.scroll-hide
            include includes/components/_articles-slider

        section.layout__section
            .layout__wrapper
                include includes/components/_contacts-us

        section.layout__section
            .layout__wrapper
                include includes/components/_our-managers

        section.layout__section
            include includes/components/_we-are

        section.layout__section
            include includes/components/_we-are--doing
                
        section.layout__section
            .layout__wrapper
                include includes/components/_our-task

        section.layout__section
            include includes/components/_our-goal

        section.layout__section.scroll-hide
            .layout__wrapper
                include includes/components/_letters-slider

        section.layout__section.layout__section--join-us
            .layout__wrapper
                include includes/components/_join-us
