extends  includes/@layout

prepend head
    -  pageTitle = 'Расписание поездок'

block content
    main.layout
        section.layout__section
            + page-header('Умра 2019','page-header--schedule',subMenuList,0)

        section.layout__section.layout__section--travel
            .layout__wrapper
                include includes/components/_schedule

        section.layout__section.layout__section--join-us
            .layout__wrapper
                include includes/components/_join-us
