.letters-slider {
    position: relative;

    // max-height: rem(600);

    padding: rem(80) 0 rem(18);

    &:before {
        position: absolute;
        top: 0;
        right: var(--slider-substrate-pos-r, (50% + 17%));
        left: var(--slider-substrate-pos-l, -100%);
        z-index: -1;

        //height: calc(100% - #{rem(62/2)});
        bottom: var(--slider-substrate-pos-b, rem(40));

        //right: (50% + 17%);
        //bottom: 0;
        //left: -100%;
        //z-index: -1;

        height: auto;

        content: "";

        background: $blue-bg top left;
    }

    &:after {
        position: absolute;
        top: -13%;
        right: -16%;

        @include pseudo-icon($mti-symbol, 482);
        color: rgba(#000, 0.03);
    }

    &__title {
        @extend .title--h2;
        @extend .divider;

        max-width: rem(300);

        color: $color-light;
    }

    &__swiper {
        margin: rem(-205) 0 rem(71);
        margin-right: calc((100vw - 100%) / 2 * -1);
        @media screen and (max-width: 768px) {
            margin-right: calc(-0px - var(--content-padding));
            // margin-top: 0;
            // margin-top: 5rem;
        }
        @media screen and (max-width: 480px) {
          margin-top: 0;
        }
    }

    &__bottom {
        text-align: right;
    }
    @include max-wide(laptop) {
        --slider-substrate-pos-r: 56%;
    }

    @include max-wide(tablet) {
        --slider-substrate-pos-r: 45%;
    }

    @include max-wide(phones) {
        --slider-substrate-pos-r: calc(-0px - var(--content-padding));
        --slider-substrate-pos-l: calc(-0px - var(--content-padding));
        --slider-substrate-pos-b: 50%;

        padding-top: rem(49.6);

        // &__swiper {
        //     margin: 0 calc(-0px - var(--content-padding)) rem(42.8);
        //     margin-bottom: 0;
        //     padding-left: var(--content-padding);
        // }

        &__title {
            max-width: rem(256);

            margin-bottom: rem(48);
        }
    }
}
