.map {
  display: flex;

  height: var(--map-height, rem(602));

  background-color: $background-gray;

  @include max-wide(tablet) {
    --map-height: #{rem(430)};
  }

  @include max-wide(phones) {
    --map-height: #{rem(300)};
  }
}
