.menu-line {

  color: $color-light;

  white-space: nowrap;

  &__top {
    padding: rem(26.24) 0 0;

    border-bottom: rem(1) solid rgba(#fff, 0.32);

    transition: all .6s cubic-bezier(.71, .06, .53, .66);
  }

  &__link {
    display: inline-flex;

    margin-right: rem(40);
    padding-bottom: rem(26.24);

    font-size: rem(25.65);

    &:last-child {
      margin-right: 0 !important;
    }

    &:before {
      position: absolute;
      right: 100%;
      bottom: rem(-1); //calc( - #{rem(-1)})
      left: 0;

      height: rem(4);

      content: '';

      background-color: $color-primary;

      transition: all .3s linear;
    }

    &--is-active {
      position: relative;

      pointer-events: none;
      font-weight: bold;

      &:before {
        right: 0;
      }
    }
  }

  &__bottom {
    max-width: 100vw;

    margin-left: calc(-0px - var(--content-padding));
    padding: rem(24) var(--content-padding) rem(24);

    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

    a {
      margin-right: rem(44);
      padding-bottom: 0;

      font-size: rem(17.312);
    }
  }
}
