.mobile-menu {
  --mobile-menu-spacer-t: #{rem(122)};
  --mobile-menu-spacer-b: #{rem(76)};
  --mobile-menu-spacer-r: #{rem(38)};
  --mobile-menu-spacer-l: #{rem(66.5)};

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

  color: $color-light;

  overflow: hidden;
  -webkit-overflow-scrolling: auto;
  transition: all .3s cubic-bezier(.51, .27, .42, .18);

  &:before, &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    //width: 100%;
    //height: 100%;

    content: '';
  }

  &:before {
    z-index: 0;
    
    background-color: rgba(black, .8);
    transform: scale(1.35);
    transition: backdrop-filter .2s cubic-bezier(.51, .27, .42, .18);
    will-change: transform, filter;
    @supports ((-webkit-backdrop-filter: blur(5vw)) or (backdrop-filter: blur(5vw))) {
      background-color: rgba(black, .3);
      backdrop-filter: blur(5vw);
    }
  }

  &:after {
    z-index: 1;
    // background-image: linear-gradient(to bottom, rgba(41, 23, 0, 0), rgba(34, 22, 0, 0.84));
  }

  &__content, &__list, &__bottom, &__top {
    display: flex;
    flex-direction: column;

    z-index: 2;
  }

  &__content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: var(--mobile-menu-spacer-t) 0 var(--mobile-menu-spacer-b) 0;

    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__top {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    padding: rem(34.4) rem(36.8);

    flex-flow: row;
    justify-content: space-between;
  }

  &__button {
    z-index: 1001;
  }

  &__list {
    padding-left: 19px;
    padding-right: 19px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    ul {
      list-style: none;

      font-weight: normal;
      font-size: rem(16.8);

      margin-top: rem(16);
      padding-top: rem(8.8);

      border-top: rem(1) solid rgba(#fff, 0.2);

      li {
        padding: rem(11.6) 0;
      }
    }
  }

  &__item {
    font-size: 17px;
    font-weight: 500;
    padding: 10px 1px;

    &--sub {
      position: relative;

      &:before {
        position: absolute;
        top: rem(21);
        right: rem(3);

        @include pseudo-icon($mti-close, 10) ;

        transition: transform .3s ease-in-out;
      }

      &:not(&-open) {
        &:before {
          transform: rotate(45deg);
        }

        ul {
          height: 0;

          margin: 0;
          padding: 0;

          opacity: 0;
          visibility: hidden;
          overflow: hidden;
        }
      }

      &-open {
        ul {
          height: max-content;
          transition: height .4s ease-in-out, opacity .6s ease-in-out, visibility .3s;
        }
      }
    }

    &:not(:last-child) {
      border-bottom: rem(1) solid rgba(#fff, 0.2);
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;

    margin: auto 0 0;
    padding: rem(20) var(--mobile-menu-spacer-r) 0 var(--mobile-menu-spacer-l);

    font-size: rem(20.64);
    line-height: 1.6;

    opacity: 0.4;
  }

  a {
    color: inherit;
  }

  &:not(&--is-show) {
    display: none;
  }
}
