.page-header {
    position: relative;
    --page-header-image: none;
    --page-header-height: #{rem(475)};
    --page-header-img-gradient: #{$black-img-hr-grad};

    height: var(--page-header-height);

    margin: (-$topOffset) 0 0;

    background-color: orange;
    background: var(--page-header-image) no-repeat top center fixed;
    background-size: var(--page-header-bg-width, auto) var(--page-header-height);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  

    &__content {
        @extend .container;
        
        position: relative;
        z-index: 1;

        display: flex;
        flex-flow: column;
        align-items: flex-start;
        // padding-bottom: rem(70);
    }

    &__crumbs {
        margin: auto 0 0;
    }

    &__caption {
        @extend .title;
        font-size: 2.5rem;
        line-height: 1.2;
        margin-top: auto;
        margin-bottom: 5rem;
        display: flex;
        align-items: baseline;
       
        &-link {
            opacity: 0.85;
            transition: all 0.2s;
            margin-right: 3rem;
            &:not(.active) {
                display: none;
            }
            &:only-child {
                opacity: 1 !important;
                display: block !important;
            }

            &.active {
                opacity: 1;
                @extend .title;
                line-height: 1.2;
            }
            &:link,
            &:visited {
                color: white;
            }

            @media screen and (max-width: 480px) {
                &:not(.active) {
                    display: block;
                }
            }
        }
    }

    &__bottom {
        width: 100%;
        min-height: rem(70);
    }

    &__link {
        display: inline-flex;
        align-items: center;
        
        font-size: rem(13);
        font-weight: bold;
        letter-spacing: $letterSpacing;
        margin-bottom: rem(75);
        text-transform: uppercase;
        transition: all 0.4s ease-in-out;

        [class*="mti-"] {
            margin-right: rem(17);

            font-size: rem(20);

            transition: transform 0.5s ease-in-out;
        }
    }

    &--light,
    &--gallery,
    &--gallery-detail,
    &--pilgrim,
    &--schedule,
    &--detail {
        color: var(--headers-text-color);
    }

    &--news {
        height: 20rem;
    }

    &--is-fade {
        &,
        &-v {
            position: relative;
            &::before {
                content: "";
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 80px;
                background-image: linear-gradient(
                    to top,
                    rgba(black, 0.65),
                    rgba(black, 0)
                );
            }

            &::after {
                content: "";
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                height: 160px;
                background-image: linear-gradient(
                    to bottom,
                    rgba(black, 0.65),
                    rgba(black, 0)
                );
            }
        }

        &-v {
            --page-header-img-gradient: #{$black-img-grad} !important;
        }
    }

    &--gallery {
        --page-header-image: #{$to-bg-gallery};

        .page-header__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &--gallery-detail {
        --page-header-image: #{$to-bg-gallery2};
    }

    /*&--pilgrim {
    --page-header-image: #{$to-bg-pilgrim};
  }*/

    &--schedule {
        --page-header-image: #{$to-bg-schedule};
    }

    &--detail {
        --page-header-image: #{$to-bg-detail};
    }

    &--tour {
        $--is-bottom-offset: rem(20);

        --page-header-image: #{$to-bg-detail};
        --page-header-height: 89.904761904761905vh;

        

        .page-header__bottom {
            width: 100%;
            margin: rem(58) 0 0;
        }

        @extend .page-header--is-fade-v;

        display: flex;
        align-items: flex-end;

        min-height: rem(890);
        //height: max-content;

        //margin-bottom: $--is-bottom-offset + rem(10);

        background-size: cover;
        background-attachment: local;

        color: $color-light;

        .page-header__content {
            position: relative;

            align-items: flex-end;
            min-height: max-content;

            margin-top: rem(246);
            margin-bottom: $--is-bottom-offset;

            z-index: 1;
        }

        .page-header__crumbs,
        .page-header__caption,
        .page-header__bottom {
            max-width: rem(490);
            width: 100%;
        }

        .page-header__caption {
            // margin: auto 0 0;
            margin: 0;
            font-size: rem(40);
            line-height: 1.15;
            margin-top: auto;
        }


        .page-header__crumbs + .page-header__caption {
            margin-top: 0;
        }

        .page-header__bottom {
            margin-top: rem(30);
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    @include min-wide(notebook) {
        --page-header-bg-width: 100% !important;
    }

    @include min-wide(laptop) {
        &__link {
            margin-bottom: rem(75);
            &:hover {
                color: $color-primary;
                text-shadow: 0 rem(1) rem(8) $color-dark;

                [class*="mti-"] {
                    transform: scale(1.3);
                }
            }

            &:active {
                transform: scale(1.03);
            }
        }
    }
    @include max-wide(tablet) {
        &__link {
            max-width: rem(26);
            margin-bottom: rem(75);
            font-size: 0 !important;

            [class*="mti-"] {
                margin: 0;

                font-size: rem(26);
            }
        }
    }

    @include max-wide(phones) {
        &__link {
            position: relative;
            right: $contentPadding;
            bottom: rem(-90);

            color: $color-primary;
        }
    }
}
