.reviews {
    --reviews-grap: #{rem(24)};

    &__list {
        margin: rem(-12);
    }

    &__item {
        position: relative;
        display: inline-flex;
        vertical-align: top;
        width: 100%;
        padding: rem(12);
        
        width: 33.33%;
        @media screen and (max-width: 1024px) {
            width: 50%;
        }
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }

    &__more {
        margin: rem(56) auto;

        text-align: center;
    }

}
