.ticker {
  position: relative;

  display: flex;
  align-items: center;

  width: 100vw;
  height: var(--ticker-height, rem(160));

  max-width: $contentWidth;

  margin: 0 auto;
  padding: 0 $contentPadding;
  


  &::before {
    content: '';
    position: absolute;
    left: calc((100vw - 100%) / 2 * -1);
    top: 0;
    height: 100%;
    background-color: var(--cl-gray-fr);
    width: 100vw;
    z-index: -1;
  }
  &__text {
    // display: inline-flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1rem;
    font-size: var(--ticker-size, rem(35));
    font-weight: 600;
    white-space: nowrap;
    transition-property: transform;
    transition-timing-function: linear;
    &.hidden {
      left: calc(100% + (100vw - 100%) / 2);
    }
    &:after {
      margin: rem(22) rem(50) 0;

      content: "*";

      font-size: rem(40);
    }
  }

  .button--caret {
    position: absolute;
    bottom: 0;
    left: var(--content-padding);

    width: auto !important;

    white-space: nowrap;

    transform: translateY(75%);
  }

  

  @include min-wide(tablet) {
    .button--caret {
      display: none;
    }
  }

  @include max-wide(tablet) {
    --ticker-height: #{rem(144)};
    --ticker-size: #{rem(42)};
  }
}
