.trips-slider {
  @extend .container;

  position: relative;

  &__title {
    @extend .title--h2 ;

    margin-bottom: rem(43);
  }

  .swiper-slide {
    height: auto;
  }

  .trips-slider__swiper {
    width: var(--full-slider-offset);

    @include max-wide(phones) {
      .trip-card {
        --trip-card-width: #{rem(380)} !important;
        --trip-card-spacer: #{rem(28)} !important;

        width: var(--trip-card-width);
      }
    }
  }
}
