table.table
    thead.table__head
        tr
            th Наименование
        tr
            th Пункт 1
        tr
            th Пункт 2

    tbody.table__main
        tr.table__item
            td
                strong После прохождения прививки обязательно получите официальное свидетельство
            td 3 000 000 руб.
            td Хадж является одним из видов джихада.

        tr.table__item
            td
                strong Суть хаджа
            td 5%
            td Суть хаджа

        tr.table__item
            td
                strong После прохождения прививки обязательно получите официальное свидетельство
            td 14 000 руб.
            td Паломники являются гостями Всевышнего Аллаха
